<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerfiles(title)">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="scripts/common.js"></script>
        <link rel="stylesheet" href="styles/common.css">
        <title th:text="'Libreria - ' + ${title}"></title>
    </head>
    <body>
        <div id="header" th:fragment="headerDiv">
            <h1><a th:href="@{/home}">Libreria</a></h1>
            <div>
                <a th:href="@{/createPage}">Create</a>
                <a th:href="@{/readPage}">Read</a>
                <a th:href="@{/updatePage}">Update</a>
                <a th:href="@{/deletePage}">Delete</a>
            </div>
        </div>

        <div id="footer" th:fragment="footerDiv">
            <h3>Dev team</h3>
            <ul>
                <li>Cervo Emanuele</li>
                <li>Medda Alessio</li>
                <li>Murtas Alessandro</li>
                <li>Pusceddu Dania</li>
            </ul>
        </div>

        <table id="readTable" th:fragment="readTable">
            <tr>
                <th>Id</th>
                <th>Titolo</th>
                <th>Autore</th>
                <th>Genere</th>
                <th>Pagine</th>
                <th>Prezzo</th>
            </tr>
        </table>
    </body>
</html>