<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments/base.html :: headerfiles(create)">

    </head>
    <body>
        <div th:replace="fragments/base.html :: headerDiv">
           
        </div>
        <div id="main">
            <h2>Create libreria</h2>
            <form id="createForm" action="#" th:action="@{/create}" th:object="${newBook}" method="post">
                <input type="text" name="title" placeholder="Titolo del libro..." th:field="*{title}" required/>
                <input type="text" name="author" placeholder="Autore del libro..." th:field="*{author}" required/>
                <input type="text" name="genre" placeholder="Genere del libro..." th:field="*{genre}" required/>
                <input type="number" name="pages" placeholder="0" th:field="*{pages}" required/>
                <input type="number" name="price" placeholder="0" th:field="*{price}" required/>
                <input type="submit" id="createButton" value="Aggiungi libro"/>
            </form>
        </div>
        <div th:replace="fragments/base.html :: footerDiv">
        </div>
    </body>
</html>