<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="fragments/base.html :: headerfiles(read)">
        
    </head>
    <body>
        <div th:replace="fragments/base.html :: headerDiv">
           
        </div>
        <div id="main">
            <h2>Read libreria</h2>
            <table th:replace="fragments/base.html :: readTable">
                
            </table>
        </div>
        <div th:replace="fragments/base.html :: footerDiv">
        </div>
    </body>
</html>