*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
}

#header > h1 > a{
    color: white;
    text-decoration: none;
}

#header > h1 > a:hover{
    color: darkcyan;
    text-decoration: underline;
    cursor: pointer;
}

#header > div{
    padding-left: 30px;
}

#header > div > a{
    color: darkcyan;
    text-decoration: none;
}

#header > div > a:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

#main{
    min-height: 550px;
    text-align: center;
}

#footer{
    background-color: darkgray;
    color: black;
    font-style: italic;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;
}

.lorem{
    padding: 10px;
    text-align: justify;
}

#createForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#createForm > input{
    font-size: 1.6em;
    text-align: center;
    width: 300px;
    height: 70px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#createForm > input:hover, input:focus{
    background-color: lightblue;
}


#createButton:hover{
    background-color: lightgreen;
    cursor: pointer;
}

table{
    border-radius: 10px;
    margin:auto;
    margin-bottom: 40px;
    border-collapse: separate;
    font-size: 1.2em;
}

td{
    width: 150px;
    height: 70px;
    border-radius: 10px;
}

.tableHeader{
    background-color: cornflowerblue;
    height: 40px;
}

.even{
    background-color: lightskyblue;
}

.odd{
    background-color: aqua;
}

/* Chrome, Safari, Edge, Opera arrow hiding */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox arrow hiding */
input[type=number] {
  -moz-appearance: textfield;
}